@{
    ViewData["Title"] = "Get To Know Joel";
}

<div class="text-center">
    <h2 class="display-4">Get To Know Joel</h2>
    <h3>Check out his next show at Quick Wits Comedy <a src="https://www.qwcomedy.com/">here</a>.</h3>
    <h3>Check out his weekly podcast <a src="https://baconsale.com/">Baconsale</a>.</h3>
    <br />
    <a href="https://baconsale.com/">
        <img src="~/baconsalekate.jpg" />
    </a>
    
</div>
